.cartas { 
    width: 100%; 
    text-align: center;
    align-items: center;    
} 
.title-pru {
    width: 100%;
        text-align: center;
        align-items: center;
    font-size: 16px;
}
.parrafo {
    width: 98%;  
}
.parrafo p{
    font-size: 10px; 
}
.tarjeta{   
    border-radius: 15px;
    background-color: rgb(61, 77, 112);  
    width: 65%;
    margin-left: 12.5%;
}
.tarjeta img{
border-radius: 150px;
 width: 25%;
}

.table {
     width: 97%;   
}   
    table {  
    border-spacing: 0; 
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 7px;
  }
 
 

 @media only screen and (min-width: 600px) {
    .cartas { 
        width: 100%; 
        text-align: center;  
        display: grid;
        grid-template-columns: 50% 50%;
    grid-template-rows: 3% 19% 19% 19% 19%;
    }
    .title-pru {
        width: 100%;
        text-align: center;
        align-items: center;
        font-size: 30px;
    }
    .parrafo {
        width: 98%;  
    }
    .parrafo p{
        font-size: 18px; 
    }
    .tarjeta{   
        border-radius: 15px;
        background-color: rgb(61, 77, 112); 
        width: 75%;
        margin-left: 12.5%;
    }
    .tarjeta img{
        width: 20%;
       }

    .table {  
        width: 97%;
    } 
    table {  
        border-spacing: 0; 
        width: 100%;
        border: 1px solid #ddd;
        
      }
      
      th, td {
        text-align: left;
        padding: 8px; 
        border: 1px solid #ddd;
      }
 }
